<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net472" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="4.0.0" targetFramework="net472" />
  <package id="GitVersionTask" version="5.3.7" targetFramework="net472" developmentDependency="true" />
  <package id="IPNetwork2" version="2.5.211" targetFramework="net472" />
  <package id="IPOCS" version="1.0.2" targetFramework="net472" />
  <package id="Makaretu.Dns" version="2.0.1" targetFramework="net472" />
  <package id="Makaretu.Dns.Multicast" version="0.27.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net472" />
  <package id="SimpleBase" version="1.8.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections" version="4.3.0" targetFramework="net472" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.FileVersionInfo" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.TraceSource" version="4.3.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net472" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Overlapped" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.ThreadPool" version="4.3.0" targetFramework="net472" />
  <package id="UtilPack.NuGet.MSBuild" version="2.9.1" targetFramework="net472" developmentDependency="true" />
  <package id="Xceed.Products.Wpf.Toolkit.Base" version="4.0.20315.13310" targetFramework="net472" />
  <package id="Xceed.Wpf.Toolkit" version="4.0.20315.13310" targetFramework="net472" />
</packages>